@model Webshop.Models.Data.DataClas

@{
    ViewBag.Title = "Hej";
    //Layout = "~/Views/Shared/Layout.cshtml";
}


    <h1>Homepage</h1>
    @Html.ActionLink(linkText: "a1", actionName: "Home", controllerName: "Default")   
